<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-05-17T16:16:54Z</date>
	<key>MissingFilePaths</key>
	<array>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/WebSocketClient.h</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/utilities.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/connection_base.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/include/Resources.h</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/connection.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/sha1/sha1.h</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/close.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/frame.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/client.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/src/BasicExampleApp.cpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/endpoint_base.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/error_container.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/endpoint.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/md5/md5.h</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/base64/base64.h</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/uri.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/WebSocketClient.cpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/resources/CinderApp.icns</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/common.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/error.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/utf8_validator.hpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/sha1/sha1.cpp</string>
		<string>/Users/charlie/Documents/Development/_libs/cpp/Cinder_085/blocks/Cinder-Spacebrew/examples/BasicExample/blocks/Cinder-WebSocketPP/src/websocketpp/server.hpp</string>
	</array>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
